
/* Write some CSS below */
body {
  font-family: 'Coda Caption', sans-serif;
  font-weight: bold;
  color: #404042;
  font-size: 18px;
  margin: 0;
}
 h2, h3 {
  font-family: 'Fraunces', serif;

}
a {
  color: #b39999;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #CE2FAE;
}
